doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Example page
  body(style={'text-align': 'center'})
    include ./header.pug
    button
      a(href="/auth/google", style={'text-decoration': 'none'}) Log in
    include ./footer.pug