doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title You are log
  body(style={'text-align': 'center'})
    include ./header.pug
      h1 Welcome!
      h3 You are success log :)
    include ./footer.pug